<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
">
	<!--引入外部属性文件-->
	<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

	<!-- 负责包扫描，配置组件等 -->
	<!--1、spring不扫描控制器  -->
	<context:component-scan base-package="com.hern.manager">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!--2、数据库  -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="url" value="${url}" ></property>
		<property name="driverClassName" value="${driver}"></property>
		<property name="initialSize" value="${jdbc.initPoolSize}"></property>
	</bean>

</beans>
